:root {
  --white: #ffffff;
  /*--red: #e94e1b;*/
  --orange: #f59c1b;
  --yellow: hsl(53, 97%, 85%);
  --green: #026634;
  --black: #000;
}

a {
  color: var(--yellow);
}

h1 {
  color: var(--orange);
  /*font-family: "Merriweather", serif;*/
  /*font-family: 'Noto Serif KR', serif;*/
  /*font-family: 'Noto Serif TC', serif;*/
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

p {
  color: var(--white);
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

body {
  text-align: center;
  background-color: var(--green);
}

main {
  background-color: var(--green);
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 0%;
  padding: 20px;
}

img {
  width: 60%;
  max-width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
