:root {
  --white: #ffffff;
  --red: #e94e1b;
  --black: #000;
}

@font-face {
  font-family: SourceSerifPro;
  src: url(../assets/fonts/SourceSerifPro.woff2);
}

a {
  color: var(--black);
  border-bottom: 1px solid var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

body {
  text-align: center;
  background-color: var(--black);
}

h1 {
  color: var(--black);
  font-family: SourceSerifPro;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

img {
  width: 60%;
  max-width: 300px;
  margin: 20px;
  margin-bottom: 10px;
}

main {
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
  width: 720px;
}

p {
  color: var(--black);
  font-family: Verdana, sans-serif;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px),
  only screen and (min-device-width: 375px) and (max-device-width: 720px) {
  body {
    background-color: var(--white);
  }
  h1 {
    font-size: 15px;
  }
  main {
    width: 100vw;
    margin: 0;
    padding-bottom: 40px;
    padding: 0;
  }
  p {
    font-size: 12px;
  }
}

/* IPHONE 5S/SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  body {
    background-color: var(--white);
  }
  h1 {
    font-size: 15px;
  }
  main {
    width: 100vw;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }
  p {
    font-size: 12px;
  }
}
